<!DOCTYPE html>
<html>
  <head>
    <title>GetsdereadyCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= favicon_link_tag 'https://i.postimg.cc/8PytfQ5h/new.png' %>



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
